---
import FormattedDate from '../components/FormattedDate.astro';
import TagList from '../components/TagList.astro';
const { post } = Astro.props;
---
<a href={`/blog/${post.id}`}>
  <div class="card shadow-xl bg-neutral text-neutral-content" property="blogPost">
    <div class="card-body" vocab="https://schema.org" typeof="BlogPosting" about={`https://cosmicrose.dev/blog/${post.id}`}>
      <h2 class="card-title" property="name">
        {post.data.title}
      </h2>
      <div>
        <p class="mb-4 opacity-50 italic" property="datePublished">
          <FormattedDate date={post.data.publishDate} />
        </p>
        <p class="mb-4" property="description">
          {post.data.description}
        </p>

        <p property="keywords">
          <TagList tags={post.data.tags} />
        </p>
      </div>
    </div>
  </div>
</a>

