---
import FormattedDate from '../components/FormattedDate.astro';
import TagList from '../components/TagList.astro';
const { post } = Astro.props;
---
<a href={`/blog/${post.slug}`}>
  <div class="card shadow-xl bg-neutral text-neutral-content">
    <div class="card-body">
      <h2 class="card-title">
        {post.data.title}
      </h2>
      <div>
        <p class="mb-4 opacity-50 italic">
          <FormattedDate date={post.data.publishDate} />
        </p>
        <p class="mb-4">
          {post.data.description}
        </p>

        <p>
          <TagList tags={post.data.tags} />
        </p>
      </div>
    </div>
  </div>
</a>

