---
import '@fontsource/league-spartan';
import '@fontsource/protest-strike';
import '../styles/global.css';
import rosaImage from '../images/rosa.jpg';
import CommonHead from '../components/CommonHead.astro';
const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en" class="h-full w-full" data-theme="night" prefix="og: https://ogp.me/ns#">
	<head>
    <CommonHead />

    <link rel="me" href="https://tech.lgbt/@cosmicrose" />

    <meta name="description" content="Rosa's Website">

    <meta property="og:url" content="https://cosmicrose.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content={pageTitle}>
    <meta property="og:description" content={pageDescription}>
    <meta property="og:image" content={new URL(rosaImage.src, Astro.url)}>

    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="cosmicrose.dev">
    <meta property="twitter:url" content="https://cosmicrose.dev/">
    <meta name="twitter:title" content={pageTitle}>
    <meta name="twitter:description" content={pageDescription}>
    <meta name="twitter:image" content={new URL(rosaImage.src, Astro.url)}>

    <meta name="fediverse:creator" content="@cosmicrose@tech.lgbt" />

		<title>{pageTitle}</title>
	</head>
  <body>
    <slot />
	</body>
</html>
