---
import { getEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import TagList from '../components/TagList.astro';
import Navigation from '../components/Navigation.astro';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

const author = await getEntry(frontmatter.author);
---
<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
  <Navigation />

  <div vocab="https://schema.org" typeof="BlogPosting">
    <main class="prose mx-auto p-4">
      <header class="mb-10 text-left not-prose">
        <h1 class="text-4xl mb-2 font-display" property="name">{frontmatter.title}</h1>

        <ul class="mb-4 list-style-none">
          {frontmatter.tags.sort().map((tag) =>
            <li class="inline-block"><a class="link-hover badge badge-primary mr-1" property="keywords" href={`/tags/${tag}`}>#{tag}</a></li>
          )}
        </ul>

        <p class="mt-2 font-bold mb-0">by {author.data.name}</p>
        <p property="datePublished"><FormattedDate date={frontmatter.publishDate} /></p>
      </header>

      <div property="text">
        <slot />
      </div>

    </main>

    <footer class="footer footer-center p-4 bg-base-200 text-base-content">
      <aside>
        <p>
        This work by
        <a href="https://cosmicrose.dev/rosa/#me" property="author" typeof="Person">
          Rosa Richter
        </a>
        is licensed under
        <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
          CC BY-SA 4.0
        </a>
      </p>
      </aside>
    </footer>
  </div>
</BaseLayout>
