---
import { getEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import TagList from '../components/TagList.astro';
import ProseLayout from './ProseLayout.astro';
const { frontmatter } = Astro.props;

const author = await getEntry(frontmatter.author);
---
<ProseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
  <header class="not-prose mb-10 text-left">
    <h1 class="text-4xl font-bold mb-2">{frontmatter.title}</h1>

    <div class="mb-4">
      <TagList tags={frontmatter.tags} />
    </div>

    <p class="mt-2 font-bold mb-0">by {author.data.name}</p>
    <p><FormattedDate date={frontmatter.publishDate} /></p>
  </header>

  <slot />

  <footer class="mt-16 footer footer-center">
    <aside>
      <p xmlns:cc="http://creativecommons.org/ns#">
      This work by
      <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://cosmicrose.dev">Rosa Richter</a>
      is licensed under
      <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
        CC BY-SA 4.0
      </a>
    </p>
    </aside>
  </footer>
</ProseLayout>
